.icon{
	margin:20px 20px 20px 20px;
	padding: 5px;
}
.icon:hover{  
	border-radius:5px;
	padding: 3px;
	border: 2px solid #77AAFF;
}
.taskbar{
	background-color:lightgray;
}
.comboboxwarning .z-combobox-inp { 
	border: 1px solid red;
}			
.doublespinwarning .z-doublespinner-inp  {
	border: 1px solid red;
}			